@import "bootstrap";

/* header */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

header {
}

#logo_container {
 height: 137px;
 width: 500px;
 float: left;
 margin-left: 210px;
}

#user_info {
  float: right;
  margin-right: 100px;
}

#nav_container {
  background-color: #aacbd6;
  width: 100%;
  padding: 10px 0 10px 0;
  height: 25px;
  clear: both;
}

nav {
  font-size: 20px;
  text-transform: uppercase;
  color: #FFF;
  display: block;
  margin: 0 auto;
  width: 600px
}

nav a {
  color: #FFF;
}



/* content */
.container {
  width: 980px;
  margin: 0 auto;
  clear: both;
  padding: 20px;
  min-height: 500px;
}

.left_bar {
  
  float: left;
}

.right_content {
  
  float: left;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  height: 50px;
}

/* footer */
footer {
  background-color: #4a4a4c;
  height: 125px;
  font-size: 15px;
  width: 100%;
}

footer .logo_container {
  background: url(logo_mark_footer.png) no-repeat;
  width: 73px;
  height: 83px;  
  margin: 10px 0 10px 210px;
  float: left;
}

footer .nav {
  float: right;
  margin: 30px 0 0 208px;
}

footer a {
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  margin: 0 25px
}
footer span {
  color: #FFF;
}

footer a:hover {
  text-decoration: underline;
  color: #FFF;
}

footer .bottom_bar {
  background-color: #151517;
  width: 100%;
  height: 25px;
  clear: both;
}

/* buttons */
.button {
  background-color: #4096a4;
  padding: 10px;
  border: 0;    
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
}