@import "bootstrap";

/* header */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
}

#logo_container {
 height: 137px;
 width: 500px;
 float: left;
 margin-left: 100px;
}

#user_info {
  float: right;
  margin-right: 100px;
}

#nav_container {
  background-color: #aacbd6;
  width: 100%;
  padding: 10px 0 10px 0;
  height: 25px;
  clear: both;
}

nav {
  font-size: 20px;
  text-transform: uppercase;
  color: #FFF;
  display: block;
  margin: 0 auto;
  width: 600px
}

nav a {
  color: #FFF;
}



/* content */
.container {
  width: 980px;
  border: solid 1px gray;
  margin: 0 auto;
  clear: both;
  padding: 20px;
}

.left_bar {
  border: 1px solid gray;
  float: left;
}

.right_content {
  border: 1px solid gray;
  float: left;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  height: 50px;
}

/* footer */
footer{
  height: 75px;
  padding: 25px;
  background-color: f6f6f6;
  border: 1px solid gray;
}

/* buttons */
.button {
  background-color: 4096a4;
  padding: 10px;
  border: 0;    
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
}