
<div>

	<div>
		<h2>Your alerts</h2>
   	</div>
    
   <div>
   
   		<ul> 
   
   		<li>
    
    		<div> </div>
        
        	<div>
        		<h6>Fri, Apr 15 at 4:36PM</h6>
       			<h3>
        			<strong>John Smith</strong> commented on <a href="#0.1_">Snapshot #4</a>
        		</h3>
      		</div>
    
    	</li>
    
   		<li>
    
    		<div> </div>
        
        	<div>
        		<h6>Fri, Apr 15 at 4:36PM</h6>
       			<h3>
        			<strong>John Smith</strong> commented on <a href="#0.1_">Snapshot #4</a>
        		</h3>
      		</div>
        
        </li>
     
            <li>
        
            <div> </div>
            
            <div>
                <h6>Fri, Apr 15 at 4:36PM</h6>
                <h3>
                    <strong>John Smith</strong> commented on <a href="#0.1_">Snapshot #4</a>
                </h3>
            </div>
        
        </li>
        
        <li>
        
            <div> </div>
            
            <div>
                <h6>Fri, Apr 15 at 4:36PM</h6>
                <h3>
                    <strong>John Smith</strong> commented on <a href="#0.1_">Snapshot #4</a>
                </h3>
            </div>
        
        </li>
           
       </ul>
    
	</div>
    
</div>
