<footer>
    <div class="logo_container">

    </div>
    <div class="nav">
    	<ul>
            <%= link_to 'Dashboard', dashboard_path %>
            <span> | </span> 
            <%= link_to 'Alerts', alerts_path %>
            <span> | </span>
            <%= link_to 'Manage Funds', fundmanagement_path %>
            <span> | </span>
    		<%= link_to 'Settings', settings_path %>
        </ul>
    </div>
    <div class="bottom_bar">
    </div>
</footer>
