<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container" style="width:90%">
      <%= link_to "Whirr", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
            
        </ul>
      </nav>
    </div>
  </div>
</header>